stella-odyssey/charts/config-center/config/odyssey-user-server/IamgateWebService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.iamgate.isprint.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ws.iamgate.isprint.com/" name="IamgateWebServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.iamgate.isprint.com/"
                        schemaLocation="http://10.231.83.32:31201/iamgate/services/IamgateWebService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="auth">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="authResponse">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="verifySession">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="verifySessionResponse">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="auth4UserStatus">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="auth4UserStatusResponse">
        <part name="return" type="tns:iamgateWsUserStatusResponse"/>
    </message>
    <message name="authBySM4">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="authBySM4Response">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="sendCode">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="sendCodeResponse">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="verifySessionAgain">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:string"/>
    </message>
    <message name="verifySessionAgainResponse">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="waitPullData">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="waitPullDataResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="verify">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="verifyResponse">
        <part name="return" type="tns:iamgateWsResponse"/>
    </message>
    <message name="IOException">
        <part name="fault" element="tns:IOException"/>
    </message>
    <portType name="IamgateWebService">
        <operation name="auth">
            <input message="tns:auth"/>
            <output message="tns:authResponse"/>
        </operation>
        <operation name="verifySession" parameterOrder="arg0 arg1">
            <input message="tns:verifySession"/>
            <output message="tns:verifySessionResponse"/>
        </operation>
        <operation name="auth4UserStatus">
            <input message="tns:auth4UserStatus"/>
            <output message="tns:auth4UserStatusResponse"/>
        </operation>
        <operation name="authBySM4">
            <input message="tns:authBySM4"/>
            <output message="tns:authBySM4Response"/>
        </operation>
        <operation name="sendCode" parameterOrder="arg0 arg1">
            <input message="tns:sendCode"/>
            <output message="tns:sendCodeResponse"/>
        </operation>
        <operation name="verifySessionAgain" parameterOrder="arg0 arg1 arg2">
            <input message="tns:verifySessionAgain"/>
            <output message="tns:verifySessionAgainResponse"/>
        </operation>
        <operation name="waitPullData">
            <input message="tns:waitPullData"/>
            <output message="tns:waitPullDataResponse"/>
        </operation>
        <operation name="verify" parameterOrder="arg0 arg1">
            <input message="tns:verify"/>
            <output message="tns:verifyResponse"/>
            <fault message="tns:IOException" name="IOException"/>
        </operation>
    </portType>
    <binding name="IamgateWebServicePortBinding" type="tns:IamgateWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="auth">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="verifySession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="auth4UserStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="authBySM4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="sendCode">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="verifySessionAgain">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="waitPullData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
        </operation>
        <operation name="verify">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.iamgate.isprint.com/"/>
            </output>
            <fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IamgateWebServiceService">
        <port name="IamgateWebServicePort" binding="tns:IamgateWebServicePortBinding">
            <soap:address location="http://10.231.83.32:31201/iamgate/services/IamgateWebService"/>
        </port>
    </service>
</definitions>
